<div class="input-group">
    <span class="input-group-btn">
            <button 
            [ngClass] = "colorButton"
            type="button" (click)="cambiarValor(-5)">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
    </span>
    <input type="number" min="0" max="100" class="form-control" placeholder="progreso" (ngModelChange)="onChange($event)" [ngClass]="{'is-invalid' : progreso>100 || progreso < 0}" [(ngModel)]="progreso">

    <span class="input-group-btn">
         <button 
         [ngClass] = "colorButton"
         type="button" (click)="cambiarValor(5)">
            <i class="fa fa-plus"></i>
         </button>
    </span>
</div>