<div class="row">
    <div class="col-6">
        <app-dona title="Ventas" [data]="dataVentas" [labels]="labelsVentas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Gastos" [data]="dataGastos" [labels]="labelsGastos"></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona title="Presupuesto" [data]="dataPpto" [labels]="labelsPpto"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Real" [data]="dataReal" [labels]="labelsReal"></app-dona>
    </div>
</div>